# Configuraciones del Editor
# Ignorar la carpeta de configuración de Visual Studio Code
.vscode/

# Entorno Virtual
# Ignorar la carpeta del entorno virtual de Python
venv/

# Archivos de caché de Python
# Ignorar las carpetas de caché que Python crea automáticamente
__pycache__/

*.env*